.text-area{
    width: 450px;
    height:700px;
    position: relative;
    left: 250px;
    top: 100px;
}

.p-1 {
    color: #84db00;
    font-size: 15px;
}

.p-2{
    font-size: 65px;
    position:relative;
    top: -45px;
}

.p-3 {
    position: relative;
    top: -50px;
    font-size: 25px;
}

.p-4 {
    position: relative;
    top: -65px;
    font-size: 18px;
}

.text-area a {
    border: black 1px solid;
    border-radius: 20px;
    padding: 5px 30px;
    position: relative;
    top: -40px;
    left: 80px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.partilha {
    position: relative;
    top: -65px;
    left: 270px;
}

.mask {
    width: 700px;
    height: 385px;
    background-color: #84bd00;
    mask-image: url(../img/i.png);
    mask-size: 200px;
    mask-repeat: no-repeat;
    position: relative;
    left: 550px;
    top: -550px;
  }

.moveIt{
    max-width: 1440px;
    position:relative;
    z-index: 2;
}

.image-area img{
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 576px){
    .text-area{
        left: 0px;
        text-align:center;
    }
    .text-area a{
        left:-100px;
    }
    .partilha{
        left:20px;
    }
    .mask{
        display:none;
    }
    .moveIt{
        width:100%;
    }
}

@media screen and (min-width: 576px){
    .text-area {
        left: 75px;
        text-align: center;
    }

    .text-area a {
        left: -70px;
    }

    .partilha {
        left: 50px;
    }

    .mask {
        display: none;
    }

    .moveIt {
        width: 100%;
    }
    .image-area img{
        margin-left: 15px;
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 768px) {
    .text-area{
        text-align: start
    }
    .text-area a{
        left: 0px;
    }
    .partilha{
        left:180px;
    }
    .mask{
        display: inherit;
        left: 450px;
    }
    .image-area img {
        margin-left: 100px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width:992px){
    .mask{
        left: 550px;
    }
    .text-area a{
        top:-70px;
    }
    .partilha{
        top:-95px;
    }
    .image-area img{
        margin-left: -5px;
    }
}

@media screen and (min-width:1200px){
    .text-area{
        left:250px;
    }
}

@media screen and (min-width:1400px){
    ..image-area{
        margin:0px;
    }
    .image-area img {
        margin-left: 0px;
    }
}