main {
    height: 1259px;
}

.text-area {
    position: relative;
    height: 615px;
    margin-top: 80px;
    padding-left: 340px;
    
}

.p-1 {
    padding: unset !important;
    position: relative;
    left: 10px;
    top: 60px;
    color: #84db00;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 12px;
    
}

.p-2 {
    font-size: 75px;
    position: absolute;
    top: 60px;
    
    color: black;
    line-height: .8;
}

.p-3 {
    padding: unset !important;
    position: absolute;
    
    top: 200px;
    font-size: 25px;
    line-height: 1.4;
}

.p-4 {
    padding: unset !important;
    position: absolute;
    
    top: 395px;
    font-size: 15px;
}

.text-area a {
    position: absolute;
    
    top: 565px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    font-style: italic;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 15px;
}

.partilha {
    position: relative;
    left: 175px;
    top: 580px;
    font-size: 8px;
    font-family: Quicksand;
    font-style: italic;

}

.mask {
    width: 290px;
    height: 495px;
    background-color: #84bd00;
    mask-image: url(../img/i.jpg);
    mask-size: 286px;
    mask-repeat: no-repeat;
    position: absolute;
    top: 115px;
    right: 350px;
}

.moveIt {
    width: 100%;
    position: relative;
    bottom: -41.5px;
}

.image-area {
    display: flex;
    width: 100%;
    height: 440px;
}

    .image-area img {
        width: 45%;
        height: 100%;
        object-fit: cover;
    }
    @media (max-width: 1450px) {
        .text-area {
            padding-left: 270px;
        }
    }

    @media (max-width: 1350px) {
        .text-area {
            padding-left: 220px;
        }
    }

    @media (max-width: 1300px) {
        .text-area {
            padding-left: 130px;
        }
    }

     @media (max-width: 1200px) {
        .mask {
            right: 250px;
        }
     }

@media (max-width: 1150px) {
    .mask {
        right: 200px;
    }
}

@media (max-width: 1100px) {
    .mask {
        right: 150px;
    }
}

@media (max-width: 1050px) {
    .mask {
        right: 100px;
    }
}

@media (max-width: 950px) {
    .mask {
        right: 50px;
    }

    .text-area {
        padding-left: 100px;
    }
}

@media (max-width: 850px) {
    .mask {
        display: none;
    }

    .text-area {
        padding: 0 150px;
    }
}

@media (max-width: 600px) {

    .text-area {
        padding: 0 20px;
    }
}