main{
    height: 1150px;
}

.text-area {
    width: 400px;
    height: 800px;
    position: relative;
    left: 250px;
    top: 80px;
}

.p-1 {
    color: #84db00; 
    font-size: 15px;
}

.p-2 {
    font-size: 70px;
    position: relative;
    top: -45px;
    width: 400px;
}

.p-2 span{
    position: relative;
    top: -45px;
}

.p-3 {
    position: relative;
    top: -90px;
    font-size: 30px;
}

.p-4 {
    position: relative;
    top: -115px;
    left: -5px;
    font-size: 18px;
    width: 420px;
}

.text-area a {
    border-radius: 20px;
    padding: 5px 30px;
    position: relative;
    top: -130px;
    left: 50px;
    text-decoration: none;
    color: black;
    background-color: #84db00;
    cursor: pointer;

}

.partilha {
    position: relative;
    top: -155px;
    left: 270px;
}

.images-carausel {
    position: relative;
    left: 550px;
    top: -700px;
}

.images-carausel img{
    width:650px;
    height: auto;   
}

.carousel-btn-1 {
    width: 35px;
    height: auto;
    position: relative;
    top: 10px;
    left: 300px;
    border: black 1px solid;
    border-radius: 60%;
}
.carousel-btn-2 {
    width: 35px;
    height: auto;
    position: relative;
    top: -23px;
    left: 350px;
    border: black 1px solid;
    border-radius: 60%;
}


.setores{
    position: relative;
    top: -220px;
    left: 770px;
    font-size: 25px;
    width:420px;
    text-align:end
}
.s-p-2{
    font-size: 20px;
}

.movin-text-area{
    position: relative;
    top: -150px;
}

.scrolling_text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}
.scrolling_text-rev {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.text span {
    margin: 0 40px;
}
.text-rev span {
    margin: 0 40px;
}

.text {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    animation: animate_text 30s linear infinite;
}
.text-rev {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    animation: animate_text 30s reverse infinite;
}

@keyframes animate_text {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes animate_text-rev {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (max-width:576px){
    main{
        height:1300px;
    }
    .text-area{
        left:0px;
        text-align:center;
    }
    .text-area a{
        left:-50px;
    }
    .partilha{
        left:90px;
    }
    .images-carausel img{
        width: 400px;   
    }
    .images-carausel {
        left: 20px;
        top: -100px;
    }
    .setores{
        top: 250px;
        left:0px;
    }
    .movin-text-area{
        top: 225px;
    }
}
@media screen and (min-width: 576px){
    .text-area {
        left: 60px;
        text-align: center;
    }

    .images-carausel img {
        width: 450px;
    }

    .images-carausel {
        left: 20px;
        top: -100px;
    }

    .setores {
        top: 250px;
        left: 0px;
    }

    .movin-text-area {
        top: 220px; 
    }
    footer{
        margin-top:100px
    }
}
@media screen and (min-width:768px) {
    main{
        height: 1100px;
    }
    .text-area {
        left: 0px;
        text-align: center;
    }

    .images-carausel img {
        width: 300px;
    }

    .images-carausel {
        left: 395px;
        top: -500px;
    }

    .carousel-btn-1 {
        top: 10px;
        left: 200px;
    }

    .carousel-btn-2 {
        top: -23px;
        left: 250px;
    }
    .setores {
        top: 160px;
        left: 0px;
    }

    .movin-text-area {
        top: 160px;
    }

    .text-area a {
        left: -80px;
    }

    .partilha{
        left:  60px;   

    }
    .setores {
        top: -200px;
        left: 300px;
    }


    .movin-text-area{
        top: -150px;
    }

}

@media screen and (min-width: 992px){
    .text-area{
        left: 25px;
    }

    .images-carausel img{
        width: 400px;
    }
    .images-carausel{
        left: 500px;
    }

    .carousel-btn-1 {
        top: 10px;
        left: 250px;
    }

    .carousel-btn-2 {
        top: -23px;
        left: 300px;
    }
    .setores{
        left: 500px;
        top: -150px;   
    }

    .movin-text-area {
        top: -50px;
    }
}

@media screen and (min-width: 1200px){
    .text-area {
        left: 100px;
    }

    .images-carausel img {
        width: 450px
    }

    .setores{
        left: 600px;
    }
}

@media screen and (min-width: 1400px){
    .text-area {
        left: 250px;
    }

    .images-carausel {
        left: 550px;
        top: -600px;
    }

    .images-carausel img {
        width: 650px;
    }

    .carousel-btn-1 {
        top: 10px;
        left: 300px;
    }

    .carousel-btn-2 {
        top: -23px;
        left: 350px;
    }

    .setores {
        top: -100px;
        left: 770px;
    }
}