.mask-area {
    width: 1440px;
    height: 660px;
    background-color: black;
    margin-bottom: 15px;
}

.mask {
    position: relative;
    top: 10px;
    z-index: 3;
    width: 1500px;
    mask-image: url(../img/LOGO-MASCARA.png);
    mask-size: 85%;
    mask-repeat: no-repeat;
    mask-position: 55% 15%;
}

.white {
    width: 1600px;
    position: relative;
    top: -690px;
    left: 0%;
    z-index: 2;
    height: 420px;
    background-color: black;
}

.under-mask {
    width: 1500px;
    position: relative;
    top: -1085px;
}

.slogan-area{
    height: 450px;
}

.slogan-img {
    width: 50px;
    height: 270px;
    background-color: #84bd00;
    mask-image: url(../img/i.png);
    mask-size: 50px;
    mask-repeat: no-repeat;
    position: relative;
    top: 44px;
    left: 310px;
}

.slogan-text {
    position: relative;
    top: -154px;
    left: 343px;
    height: 270px;
}

.s-p {
    font-size: smaller;
    position: relative;
    left: 40px;
    margin: 0px;
}

.s-s-1, .s-s-2, .s-s-3 {
    font-size: 80px;
    position: relative;
    left: 0px;
}

.s-s-1{
    top: -20px;

}   

.s-s-2{
    top: -90px;

}

.s-s-3 {
    top: -140px;

}

.info-text-area{
    position: relative;
    left: 650px;
    top: -450px;
}

.i-p-1 {
    font-size: 28px;
    width: 410px;
}

.i-p-2 {
    width: 380px;
}

.i-a {
    border: dimgrey 1px solid;
    border-radius: 20px;
    padding: 5px 30px;
    position: relative;
    top: 15px;
    left: 80px;
    text-decoration: none;
    color: dimgrey;
}

.i-a:hover{
    background-color: dimgrey;
    color:white;
}


.btn-area{
    position: relative;
    left: 450px
}

.btn-area a {
    position: relative;
    z-index: 2;
    font-size: 65px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

.btn-area strong{
    font-size: 25px;
    position: relative;
    top: -50px;
    left: 100px;
}
.btn-area span {
    position: relative;
    left: 50px
}

.a-img{
    max-width: 170px;
    height: auto;
    position:relative;
    z-index: 1;
    top: -290px;
    left: -120px;
    display: none;
}

.a-2{
    position: relative;
    top: -90px;
}

.a-3, .a-4{
    position: relative;
    top: -170px;
}

.a-4{

    left: -50px
}

.btn-area a:hover {
    color: #84bd00;

}

.btn-area a:hover + .a-img {
    display: block;
    margin-bottom: -150px;
}

.a-2:hover + .a-3, .a-4 {
    top: -180px;
}

.carousel-area h5{
    color: #84db00;
    text-align: center;
}
.carousel-area p {
    font-size: 30px;
    text-align: center;
}

.justificativa {
    height: 450px
}

.just-mask-area {
    position: absolute;
    right: 250px;
}

.just-mask {
    width: 400px;
    height: 600px;
    mask-image: url(../img/shape-mask.png);
    mask-position: 70% 50%;
    mask-repeat: no-repeat;
    mask-size: 600px;
}
