.mask-area {
    height: 750px;
    border: 1px dashed black;
}

.mask {
    position: relative;
    z-index: 3;
    width: 101%;
    height: 750px;
    mask-image: url(../img/LOGO-MASCARA.png);
    mask-size: 94.5%;
    mask-repeat: no-repeat;
    mask-position: 40% 22%;
    background-color: black;
    object-fit: cover;
}

.white {
    width: 101%;
    position: absolute;
    top: 70px;
    left: 0%;
    z-index: 2;
    height: 420px;
    background-color: white;
}

.under-mask {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 750px;
    object-fit: cover;
}

.slogan-area {
    height: 450px;
    display: flex;
    justify-content: space-between
}

.img-slogan {
    position: absolute;
    left: 345px;
}

.slogan-img {
    width: 55px;
    height: 285px;
    background-color: #93c71c;
    mask-image: url(../img/i.png);
    mask-size: 52.5px;
    mask-repeat: no-repeat;
    position: relative;
    top: 63px;
}

.slogan-text {
    position: relative;
    top: -154px;
    left: 32px;
    height: 270px;
}

.s-p {
    font-size: 13px;
    position: relative;
    left: 40px;
    margin: 0;
    font-style: italic;
    letter-spacing: 1px;
    position: relative;
    top: 20px;
}

.s-s {
    font-size: 97px;
    position: relative;
    color: black;
    line-height: .85;
    top: 17px;
}

.s-s span {
    position: relative;
    top: -15px;
}

.info-text-area {
    position: absolute;
    left: 747px;
}

.i-p-1 {
    position: relative;
    font-size: 26px;
    width: 520px;
    top: 145px;
    line-height: 1.2;
}

.i-p-2 {
    width: 380px;
    position: relative;
    top: 160px;
    font-size: 14px;
}

.i-a {
    border: dimgrey 1px solid;
    border-radius: 30px;
    padding: 13px 47px;
    position: relative;
    top: 190px;
    left: 0px;
    text-decoration: none;
    color: dimgrey;
    color: black;
}

    .i-a:hover {
        background-color: dimgrey;
        color: white;
    }

.btn-area {
    width: 100%;
    padding: 140px 200px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: relative;
}

.p1 {
    position: absolute;
    top: 380px;
    right: 470px;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 10px;
}

    .btn-area a {
        z-index: 2;
        font-size: 90px;
        margin: 0px;
        text-decoration: none;
        color: black;
        font-weight: 800;
        font-style: italic;
        text-align: center;
    }

    .btn-area strong {
        font-size: 25px;
        position: relative;
        top: -90px;
        left: 10px;
    }

.a-img {
    max-width: 350px;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 355px;
    left: 220px;
}

.a-2 {
    position: relative;
    top: -90px;
}

.a-3 {
    position: relative;
    top: -190px;
}

.a-4 {
    position: relative;
    top: -170px;
}

.hidde {
    display: none;
}

.btn-area a:hover {
    color: #84bd00;
}

    .a-2:hover + .hidde {
        display: block;
    }

.carousel-container {
    width: 76.5%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: none;
}

    .carousel-slide img {
        width: 100%;
        height: 663px;
        object-fit: cover;
        filter: brightness(0.7);
    }

.caption {
    position: absolute;
    bottom: 60px;
    left: 45.5%;
    transform: translateX(-50%);
    color: white;
    text-align: start;
}

    .caption h5 {
        color: #84bd00;
        font-size: 10px;
        letter-spacing: 4px;
        font-style: italic;
        position: relative;
        left: 50px;
    }

.caption p {
    font-size: 40px;
    line-height: 1;
   
}

.next-preview {
    width: 23.5%;
    float: right;
    text-align: center;
    position: relative;
    top: -663px;
}

    .next-preview img {
        max-width: 100%;
        height: 663px;
        object-fit: cover;
        filter: brightness(0.3);
    }

    .next-preview .caption {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
    }

.caroucel button {
    float: right;
    position: relative;
    left: 185px;
    top: -115px;
    background-color: transparent;
    color: white;
    border: white solid 1px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 22px;
}


.just-area {
    height: 700px;
    position: relative;
}

.text-area-just {
    position: relative;
    left: 410px;
    top: 145px;
}

.j-p {
    color: black;
    font-size: 97px;
    line-height: .8;
}

.j-p-1 {
    margin-top: 25px;
    font-size: 15px;
    line-height: 2;
    color: grey;
}

.just-img {
    height: 580px;
    position: absolute;
    bottom: 30px;
    right: 149px;
}

.just-area a {
    text-decoration: none;
    color: black;
    background-color: #93c71c;
    padding: 12px 42px;
    border-radius: 40px;
    position: relative;
    top: 205px;
    left: 350px;
}

@media (max-width: 1480px) {
    .text-area-just {
        left: 350px;
    }
}

@media (max-width: 1320px) {
    .text-area-just {
        left: 150px;
    }

    .just-area a {
        left: 150px;
    }

    .a-2:hover + .hidde {
        display: none;
    }
}

@media (max-width: 1200px) {
    .img-slogan {
        left: 250px;
    }

    .info-text-area {
        left: 600px;
    }

    .btn-area {
        padding: 60px 55px;
    }

    .just-img {
        right: 100px;
    }
}

@media (max-width: 1170px) {
    .text-area-just {
        left: 100px;
    }

    .just-img {
        right: 50px;
    }

    
}

@media (max-width: 1120px) {
    
}

@media (max-width: 1100px) {
    
}

@media (max-width: 1060px) {
    .just-img {
        display: none;
    }

    .just-area {
        padding: 0 30%;
    }
}

@media (max-width: 1020px) {
    .img-slogan {
        left: 170px;
    }

    .info-text-area {
        left: 550px;
    }

    .text-area-just {
        left: 0;
    }

    .just-area a {
        left: 0;
    }

    .btn-area strong {
        top: -75px;
    }
}

@media (max-width: 1000px) {
    
}

@media (max-width: 960px) {
    .img-slogan {
        left: 120px;
    }

    .info-text-area {
        left: 460px;
    }
}

@media (max-width: 910px) {
    .just-area {
        padding: 0px 24%;
    }

    .btn-area {
        padding: 60px 0;
    }
}

@media (max-width: 880px) {
    .info-text-area {
        left: 0px;
        padding: 0 21%;
    }

    .img-slogan {
        display: none;
    }
    .p1 {
        top: 275px;
        right: 155px;
    }

    .a-img {
        display: none
    }


}

@media (max-width: 800px) {
    .btn-area a {
        font-size: 85px;
    }
}

@media (max-width: 760px) {
    .btn-area a {
        font-size: 80px;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .info-text-area {
        left: 0px;
        padding: 0px 5%;
    }

    
    .btn-area a {
        font-size: 55px;
    }

    .btn-area strong {
        top: -55px;
    }

    .just-area {
        height: 865px;
    }
}