/**/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/**/
html{  
  font-size: 14px;
  overflow-x: hidden;
}
/*
html::-webkit-scrollbar {
    display: none;
}
*/

body {
  margin-bottom: 60px;
}

header, footer, nav{
    background-color: black;    
}
main{
    margin-top: 80px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    color: white;
    position: relative;
    bottom: -200px;
    margin: 0px;
    padding: 0px;
}

.footer-logo, .footer-logo img{
    max-width: 350px;
    margin-top: 15px;
    margin-left: 75px;
    margin-right: 75px;
}

.contact-info {
    width: 355px;
    margin-left: 350px;
    margin-right: 250px;
    margin-top: 15px;
}

.legal {
    width: 100%;
    margin: 25px;
    margin-left: 150px;
    display: flex;
    gap: 200px;
}
.socialMedia{
    width: 50px;
    height: auto;
}
.socialMedia img {
    max-width: 20px;
}

.f-p-1, .f-p-4 {
    font-size: 10px;
    width: 500px;
}

.f-p-2, .f-p-3 {
    font-size: 30px;
    width: 355px;
}

.f-p-2{
    position: relative;
    top: 35px;
}

.socialMedia {
    display: flex;
    gap: 15px;
    position: relative;
    left: 290px;
    top: -5px;
}

@media screen and (max-width:576px){
    .footer-logo, .footer-logo img {
        max-width: 270px;
        margin-top: 15px;
        margin-left: 30px;
    }

    .contact-info {
        width: 355px;
        margin-left: 25px;
        margin-right: 250px;
        margin-top: 15px;
    }

    .legal {
        width: 100%;
        margin: 25px;
        margin-left: 15px;
        display: flex;
        gap: 10px;
    }

    .f-p-1, .f-p-4 {
        font-size: 8px;
        width: 500px;
    }

}

@media screen and (min-width:576px) {
    .footer-logo, .footer-logo img {
        max-width: 270px;
        margin-top: 15px;
        margin-left: 70px;
    }

    .contact-info {
        width: 355px;
        margin-left: 90px;
        margin-right: 250px;
        margin-top: 15px;
    }

    .legal {
        margin-left: 15px;
        display: flex;
        gap: 10px;
    }

    .f-p-1, .f-p-4 {
        font-size: 10px;
        width: 500px;
    }
}

@media screen and (min-width:768px){
    .footer-logo, .footer-logo img {
        max-width: 270px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .contact-info {
        width: 355px;
        margin-left: 350px;
        margin-right: 0px;
        margin-top: -130px;
    }

    .legal {
        margin-left: 15px;
        display: flex;
        gap: 10px;
    }

    .f-p-1, .f-p-4 {
        font-size: 10px;
        width: 500px;
    }
}
@media screen and (min-width:992px){
    .footer-logo, .footer-logo img {
        max-width: 270px;
        margin-top: 15px;
        margin-left: 50px;
    }

    .contact-info {
        width: 355px;
        margin-left: 550px;
        margin-right: 0px;
        margin-top: -130px;
    }

    .legal {
        margin-left: 120px;
        display: flex;
        gap: 10px;
    }

    .f-p-1, .f-p-4 {
        font-size: 12px;
        width: 500px;
    }
}

@media screen and (min-width: 1200px){
    .footer-logo, .footer-logo img {
        max-width: 270px;
        margin-top: 15px;
        margin-left: 80px;
    }

    .contact-info {
        width: 355px;
        margin-left: 650px;
        margin-right: 0px;
        margin-top: -130px;
    }

    .legal {
        margin-left: 150px;
        display: flex;
        gap: 10px;
    }
}

@media screen and (min-width: 1400px){
    .footer-logo, .footer-logo img {
        max-width: 350px;
        margin-top: 15px;
        margin-left: 75px;
        margin-right: 75px;
    }

    .contact-info {
        width: 355px;
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 15px;
    }

    .legal {
        margin: 25px;
        margin-left: 150px;
        gap: 200px;
    }

    .f-p-1, .f-p-4 {
        font-size: 10px;
        width: 500px;
    }

    .socialMedia {
        gap: 15px;
        left: 290px;
        top: -5px;
    }
}


