@{
	ViewData["Title"] = "About us Page";
}
 
<head>
	<link rel="stylesheet" href="~/css/aboutUs.css" asp-append-version="true" />
</head>

<div class="text-area">
	<p class="p-1">RODOLIFT</p>
	<p class="p-2"><strong>sobre nós</strong></p>
	<p class="p-3">A <strong>Rodolift</strong> emerge da necessidade
		vivida no quotidiano do <strong>Grupo
		Habimetal</strong>, constatando as
		dificuldades e particulariedades
		que requer o transporte industrial.
	</p>
	<p class="p-4">
		Desde 2021 que nos dedicamos a soluções de logística
		e transporte, ajudando os nossos clientes a mover as
		suas cargas com total pontualidade e segurança.
		Seguimos juntos!
	</p>
	<a>VAMOS FALAR?</a>	
	<p class="partilha"> 
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
			<path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3" />
		</svg>https://localhost:7101/img/cami%C3%A3o-grua1.jpeg
		Partilhe
	</p>
	<div class="masked"></div>
</div>


<img src="~/img/move_outline.png" class="moveIt" style="max-width:1440px; margin-left:25px" />

<div class="image-area row" style="width:1500px; margin-left:25px;">
	<img class="col-xl-4 col-lg-6 col-md-6" src="~/img/camião-grua1.jpeg" style="max-width:480px; height:auto;"/>
	<img class="col-xl-4 col-lg-6 col-md-6" src="~/img/view-lifting-hook-industrial-warehouse.jpg" style="max-width:480px; height:auto;"/>
	<img class="col-xl-4 col-lg-6 col-md-6" src="~/img/carga geral5.webp" style="max-width:480px; height:auto;"/>	
</div>