@{
}
@{
    ViewData["Title"] = "Details Page";
}

<head>
    <link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />
</head>


<div class="text-area">
	<p class="p-1">EQUIPAMENTO</p>
	<p class="p-2"><strong>camião <span> grua 5 t </span></strong></p>
	<p class="p-3"> Veículos equipados com grua 
		hidráulica com capacidade de elevação e
		trasporte <strong>até 5 ton.</strong>
	</p>
	<p class="p-4"> Lança extensivel até 12,7 
		metros com prinça.<br />
		Montagem de estruturas pré-montadas, mudanças industriais
		e movimentação de vidros e aopio á contrução civil.
	</p>
	<a>PEDIR ORÇAMENTO</a>
	<p class="partilha">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
			<path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3" />
		</svg>
		Partilhe
	</p>
	<div class="images-carausel">
		<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="10000">
					<img src="~/img/camião com grua3.webp" class="d-block" alt="...">
				</div>
				<div class="carousel-item" data-bs-interval="10000">
					<img src="~/img/camião grua desc.jpg" class="d-block" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev carousel-btn-1" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next carousel-btn-2" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</div>
<div class="setores">
	<p><strong>setores</strong> que movemos</p>
	<p class="s-p-2">O testemunho da nossa elevada qualidade e capacidade em todos os setores operacionais</p>
</div>


<div class="movin-text-area">
	<div class="scrolling_text">
		<div class="text">
			<span>naval </span> 
			<span>.</span>
			<span>obras publicas </span> 
			<span>.</span>
			<span>agricultura </span> 
			<span>.</span>
	
		</div>
		<div class="text">
			<span>naval </span> 
			<span>.</span>
			<span>obras publicas </span> 
			<span>.</span>
			<span>agricultura </span> 
			<span>.</span>
	
		</div>
	</div>
	<div class="scrolling_text-rev">
		<div class="text-rev">
			<span>industria </span> 
			<span>.</span>
			<span>construção civil </span> 
			<span>.</span>
			<span>militar </span> 
			<span>.</span>	
		</div>
		<div class="text-rev">
			<span>industria </span> 
			<span>.</span>
			<span>construção civil </span> 
			<span>.</span>
			<span>militar </span> 
			<span>.</span>
		</div>
	</div>
</div>