<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RodoLift</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RodoLift.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="aPlace col-lg-9">
                    <a class="navbar-brand " href="#"><img src="img/logo/Bg/AF - logotipo RODOLIFT _ cores.jpg" alt="" style="max-width: 170px;"></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse col-lg-3" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Equipamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Contactar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>

        <img src="~/img/logo/Bg/AF - logotipo RODOLIFT _ cores.jpg" class="f-img"/>
        <p class="f-p-1">Direitos reservados &copy; desenvolvido por Bomsite</p>
		<p class="f-p-2">geral@rodolift.com <strong style="color:#84bd00;">.</strong></p>
        <div class="socialMedia">
            <img src="~/img/icon/facebook_icon.png"/>
            <img src="~/img/icon/linkedin_icon.png"/>
        </div>
        <p class="f-p-3">263 655 999 <strong style="color:#84bd00;">.</strong> 937 544 112</p>
        <p class="f-p-4">Política de Privacidade . Livro de Reclamações Online</p>
    </footer>   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
